body {
    background-color: forestgreen;
}

p {
    font-size: 20px;
    color: white;
}

h1 {
    font-size: 80px;
    color: #ff9a48;
    text-align: center;
}

h2{
    font-size:40px;
    color: white;
}

.BestOrange {
    color: #ff9a48
}

.Italic {
    font-style: italic;
}

.BestOrange.Italic {
    font-weight: bold;
}