body {
    background-color: #1e1e1e;
}

p {
    font-size: 20px;
    color: #fafbfb;
}

li {
    font-size: 20px;
    color: #fafbfb;
}

h1 {
    font-size: 80px;
    text-align: center;
    text-shadow: initial;
}

h2 {
    font-size: 40px;
    color: #ffd38c;
}

.Orange {
    color: #ff9a48
}

.Gold {
    color: #ffd38c;
}

.Italic {
    font-style: italic;
}

.Center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}